.alignCenter {
    text-align: center;
}

.textMargin {
    margin-top: 10px;
}
.marginl{
    margin-left: 10px;
}
.marginll{
    margin-left: 20px;
}
.backgroundColor {
    background-color: #3E4CBC !important;
}

.textColor {
    color: #3E4CBC;
}

.textRight {
    text-align: right;
}

.margint {
    margin-top: 10px;
}

.textsColor {
    color: #AFAFAF;
}

.marginr{
    margin-right: 10px;
}